@charset "ISO-8859-1";
h1 {
    color: black;
    text-align: center;
    font-family: cursive;
}

p {
    font-family: cursive;
    text-align: justify;
    font-size: 20px;
}
ul{
	text-align: justify;
}
button {
	align-content: center;
}